<div id="controlBar">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="nav text-align-center" >
                <button data-id="btnFirst" type="button" class="btn btn-default navbar-btn" title="First"><span class="glyphicon glyphicon-backward"></span></button>
                <button data-id="btnPrev" type="button" class="btn btn-default navbar-btn" title="Privious"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button data-id="btnNext" type="button" class="btn btn-default navbar-btn" title="Next"><span class="glyphicon glyphicon-chevron-right"></span></button>
                <button data-id="btnLast" type="button" class="btn btn-default navbar-btn" title="Last"><span class="glyphicon glyphicon-forward"></span></button>
                </duv>
        </div>
    </nav>
</div>