<div id="capBar">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding: 10px;" href="#"><img style="height: 100%;" src="assets/images/logo.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-left">
                    <!--<li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>-->
                    <button type="button" class="btn btn-default navbar-btn" data-id="btnHome" title="홈"><span class="glyphicon glyphicon-home"></span></button>
                    <!--<button type="button" class="btn btn-default navbar-btn" data-id="btnPrint" title="인쇄"><span class="glyphicon glyphicon-print"></span></button>-->
                    <button type="button" class="btn btn-default navbar-btn" data-id="btnBookmark" title="북마크"><span class="glyphicon glyphicon-tag"></span></button>
                    <button type="button" class="btn btn-default navbar-btn" data-id="btnThumb" title="썸네일"><span class="glyphicon glyphicon-th-large"></span></button>
                    <button type="button" class="btn btn-default navbar-btn" data-id="btnList" title="목차" href="#tableList"><span class="glyphicon glyphicon-th-list"></span></button>
                    <button type="button" class="btn btn-default navbar-btn" data-id="btnZoom" title="확대"><span class="glyphicon glyphicon-zoom-in"></span></button>
                </ul>
                <div class="navbar-form navbar-left" role="search">
                    <div data-id="prefetch" class="form-group">
                        <input type="text" class="form-control typeahead" placeholder="검색어 입력">
                    </div>
                    <button type="button" class="btn btn-default" data-id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <ul class="nav navbar-right">
                    <button type="button" class="btn btn-default navbar-btn" data-id="btnClose" title="종료"><span class="glyphicon glyphicon-off"></span></button>
                </ul>
                <!--
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>