<div data-id="<%= _id %>" class="page-container">
    <% if(_id !== '1') { %><div class="gradient"></div><% } %>
    <div class="content-container"></div>
    <div style="background-image: url('<%= source %>');" class="book-page-image"></div>
</div>