<!-- new slide -->
<div class="ms-slide" data-id="<%= _id %>">
    <!-- slide background -->
    <img src="assets/images/blank.gif" data-src="<%= thumbnail %>" alt="<%= caption %>"/>
    <!-- slide text layer -->
    <div class="ms-layer ms-caption btn btn-large btn-primary disabled" style="top:10px; left:10px;"><%= _id %></div>
</div>
<!-- end of slide -->