<div class="modal-soft"></div>
<div id="pageZoomPan">
    <div id="zoomBox" class="zoom-viewer-box">
        <!-- zoomViewImage 가 위치 -->
    </div>
</div>
<div id="pageZoomControl">
    <input type="text" id="zoomPageSlider" data-slider-step="0.1" >
    <!--<div id="zoomPageSlider"></div>-->
    <button data-id="btnZoomClose" type="button" title="닫기"><span class="glyphicon glyphicon-remove"></span></button>
    <!--<div data-id="btnZoomClose" class="zoompan-close-btn glyphicon glyphicon-remove"></div>-->
</div>
<div id="dragHandle" class="zoom_cursor" ></div>
