# Logs
logs
*.log

# WebStorm idea
.idea

# temp data
.tmp
app/.tmp
app/public

# bower lib
app/lib

# build
dist

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
